.item {
    
    text-align: center;
    font-family: consolas;

    .placar{
        word-spacing: 45px;
    }
    
    .botao{
        margin-top:30px;
        margin-bottom:10px;
        font-family: consolas;
        font-size: 20px;

        width: 304px;
        height: 50px;
        vertical-align: bottom;
        position: relative;

        outline: none;
        border-radius:15px;

  
    }
    main {
        
        display: grid;
        position: relative;
        grid-template-columns: 100px 100px 100px;
        grid-gap:2px;
        justify-content: center;
    
    }
    img{
        height: 100px;
        width: 100px;
    
        border-radius: 50%;
        padding-left:30px;
        padding-right: 30px;  
       
    }

      .open-close-container {
        text-align: center;
        font-family: consolas;
        position:relative;
        img{
            position: relative;
            //left:-40%;
            height: 400px;
            width: 400px;
        }
      }
}

app-quadrado {
    border: 1px gray solid;
    height: 100px;
    font-family: consolas;
}

